version: '3.13'


services:
  db:
    image: postgres:18
    environment:
      POSTGRES_DB: juckler
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "6433:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file: .env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend:/app

  celery:
    build: ./backend
    command: celery -A app.core.celery_app.app worker --loglevel=info
    env_file: .env
    depends_on:
      - redis
      - backend

  celery-beat:
    build: ./backend
    command: celery -A app.core.celery_app.app beat --loglevel=info
    env_file: .env
    depends_on:
      - redis

  frontend:
    build: ./frontend
    ports:
      - "3000:80"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/usr/share/nginx/html
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data: